---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Estas son algunas de las tecnologías y herramientas que he utilizado en proyectos académicos y personales. Me interesa el desarrollo web Full Stack y sigo fortaleciendo mis habilidades en Front-end y Back-end y disfruto crear sitios web funcionales, responsivos y con buena estructura.
		</p>
	</div>
</section>
