---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/Imagen_Ely_3.png"
			alt="Foto de perfil de Elizabeth Cruz Sánchez"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy desarrolladora web en formación, enfocada en Frontend. Me interesa crear sitios modernos, accesibles y responsivos. He trabajado en proyectos académicos usando HTML, CSS, JavaScript, GitHub y Figma.

			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
